<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
  </head>
<frameset rows = "*,*">
  <frame src ="/data" name = "data">
  <frame src ="/control" name = "control">
</frameset>
</html>
